<div class="wrapper">
  <app-search-filter
    [textAdd]="'Add Spareparts '"
    (OnSearch)="search($event)"
    (OnSort)="sortData(!isSort)"
  ></app-search-filter>
  <div>
    <app-sparepart-table [dataTable]="spareparts"></app-sparepart-table>
  </div>
</div>
