@import "variables";

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 50px;
  width: 80%;
  max-width: 1272px;
  min-width: 600px;
  min-height: 400px;
  background-color: $color-light-red;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
