<div class="dashboard">
  <aside>
    <app-sidebar [activeTab]="activeTab"></app-sidebar>
  </aside>
  <div class="main-content">
    <div class="breadcrumbs">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="dashboard">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
