<table class="table" aria-label="table asset">
  <thead>
    <th>id</th>
    <th>Name</th>
    <th>Type</th>
    <th>Detail</th>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataTable; let index = index;">
      <td>
        {{ data.id }}
      </td>
      <td>
        {{ data.configName }}
      </td>
      <td>
        {{ data.type }}
      </td>
      <td class="text-left">
        {{ data.details }}
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="dataTable.length === 0">
    <tr>
      <td>Data Not Found</td>
    </tr>
  </tfoot>
</table>
