<div class="dashboard wrapper">
  <div>
    <app-info-sparepart></app-info-sparepart>
  </div>
  <div>
    <app-info-assets></app-info-assets>
  </div>
  <div>
    <app-info-maintenance></app-info-maintenance>
  </div>
</div>
