$base-color: #EBF6FF;
$color-black: #000000;
$color-white: #FFFFFF;
$white-smog: #FFFCFC;
$color-blue-accent : #91C0E4;
$color-danger : #E30E0E;
$color-warning: #E4AE25;
$color-success: #37B744;
$color-cyan: #27608A;
$color-grey: #D9D9D9;
$color-light-red: #F2F2F2;
