@import "variables";

* {
  font-family: $font-family;
  box-sizing: border-box;
}
html,
body {height: 100%;}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
